.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  overflow-y: auto;
}
.card {
  width: 85%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #2f2f2f;
  animation: reverseHoverCardAnimation .5s ease-in-out forwards;
}
.card:hover {
  animation: hoverCardAnimation .5s ease-in-out forwards;
  cursor: pointer;
}
.title {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}
.subtitle {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.description {
  font-size: 12px;
  font-weight: 400;
}
@keyframes hoverCardAnimation {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 50px rgba(255, 255, 255, 0.3);
    transform: translateX(0%);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.3),
      0 0 60px rgba(255, 255, 255, 0.3);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 50px rgba(255, 255, 255, 0.3);
    transform: translateX(-15%);
  }
}
@keyframes reverseHoverCardAnimation {
    0% {
      transform: translateX(-15%);
    }
    100% {
      transform: translateX(0%);
    }
  }
