* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* Deshabilitar el menú emergente al mantener presionado en iOS */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* No seleccionable */
}

body {
  background-color: #0b0b0b;
  color: #F5F5F5;
}

a {
  color: inherit;
  text-decoration: none;
}

