.header {
  width: 50%;
  height: auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: self-start;
  z-index: 200;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.link {
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 0;
}
.link:hover {
  color: #ffffff; 
  cursor: pointer;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  min-height: 50px;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  animation: titleShining 1s ease-in-out infinite;
  line-height: 3rem;
}
.description {
  font-weight: 400;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  animation: titleShining 1s ease-in-out infinite;
}
@media (max-width: 768px){
  .title{
    min-height: 110px;
    max-width: 50px; /* para que no se rompa el efecto a mitad de camino */
  }
}
@keyframes titleShining {
  0%,100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
      0 0 3px rgba(255, 255, 255, 0.3), 0 0 8px rgba(255, 255, 255, 0.3),
      0 0 13px rgba(255, 255, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
      0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.3);
  }
}
