.header {
  width: 50%;
  height: 40dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  align-self: self-start;
}
.links {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.link {
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 0;
  animation: reverseHoverLinks .5s ease-in-out forwards;
}
.link:hover {
  color: #ffffff; /* color del texto */
  animation: hoverLinks .5s ease-in-out forwards;
  cursor: pointer;
}
.texts {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-weight: 700;
  font-size: 3rem;
  animation: titleShining 1s ease-in-out infinite;
}
.description {
  font-weight: 400;
  font-size: 12px;
}

@keyframes hoverLinks {
  0% {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
      0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    opacity: 1;
    transform: translateX(0%);
  }
  50% {
    text-shadow: 0 0 15px #ffffff, 0 0 25px #ffffff, 0 0 35px #ffffff,
      0 0 45px #ffffff, 0 0 55px #ffffff, 0 0 65px #ffffff, 0 0 75px #ffffff;
    opacity: 0.9;
  }
  100% {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
      0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    opacity: 1;
    transform: translateX(5%);
  }
}
@keyframes reverseHoverLinks {
  0%{
    transform: translateX(5%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes titleShining {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 50px rgba(255, 255, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.3),
      0 0 60px rgba(255, 255, 255, 0.3);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 50px rgba(255, 255, 255, 0.3);
  }
}
