.header{
    width: 50%;
  height: 40dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  align-self: self-start;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 50%;
}
.link{
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    padding: 4px 0;
}
.texts{
    height: 50%;
}
.title{
    font-weight: 300;
    font-size: 3rem;
    
}
.description{
    font-weight: 400;
    font-size: 12px;
}


